php:
  packages:
    - xml
    - mcrypt
    - zip
  extensions:
    - name: amqp
      provider: pecl
  ini:
    PHP:
      memory_limit: '256M'
  fpm:
    config:
      global:
        pid: '/var/run/php/php7.0-fpm.pid'
    pools:
      www:
        listen: 127.0.0.1:9000
        listen_backlog: 1024
        user: www-data
        pm: dynamic
        pm_max_children: 10
